node_modules
npm-debug.log*
.npm
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
.vscode
.idea
.DS_Store
Thumbs.db
tests
.phpunit.result.cache
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
